<div class="decoration">
  <%= form_with(model: @task, local: true) do |form| %>
    <% if @task.errors.any? %>
      <div id="error_explanation">
        <h2><%= @task.errors.count %>件のエラーがあります。</h2>
        <ul>
        <% @task.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="col-md-6">
      <%= form.label :title, "タイトル", class: 'form-label' %>
      <%= form.text_field :title, class: 'form-control' %>
    </div>

    <div class="col-md-6">
        <%= form.label :content, "タスク内容", class: 'form-label' %>
        <%= form.text_field :content, class: 'form-control' %>
    </div>

<br>

    <div class="text-left">
      <%= form.label :limit_date, "終了期限", class: 'form-label' %>
      <%= form.date_select :limit_date, class: 'form-control' %>
    </div>

    <div class="text-left">
      <%= form.label :status, "ステータス", class: 'form-label' %>
      <%= form.select :status, options_for_select(Task.statuses.keys), { prompt: "選択" }, class: 'form-select' %>
    </div>

    <div class="text-left">
      <%= form.label :priority, "優先度", class: 'form-label' %>
      <%= form.select :priority, options_for_select(Task.priorities.keys), { prompt: "選択" }, class: 'form-select' %>
    </div>

    <div class="text-left">
      <%= form.submit "登録", class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>