<%= form_with(model: @task, local: true) do |form| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= @task.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="title">
    <%= form.label :title, "タイトル" %>
    <%= form.text_field :title %>
  </div>

  <div class="content">
    <%= form.label :content, "タスク内容" %>
    <%= form.text_field :content %>
  </div>

  <div class="limit_date">
    <%= form.label :limit_date, "終了期限" %>
    <%= form.date_select :limit_date %>
  </div>

  <div class="status">
    <%= form.label :status, "ステータス" %>
    <%= form.select :status, options_for_select(Task.statuses.keys), {prompt: "選択"} %>
  </div>

  <div class="priority">
    <%= form.label :priority, "優先度" %>
    <%= form.select :priority, options_for_select(Task.priorities.keys), {prompt: "選択"} %>
  </div>


  <%= form.submit  "登録" %>
<% end %>