<%= form_with(model: @task, local: true, url: choose_new_or_edit) do |form| %>
  <% if @task.error.any? %>
    <div id ="error_explanation">
      <h2><%= @task.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <ui><%= msg %></li>
      <%end%>
      </ul>
    </div>
  <% end %>

  <div class="title">
  <%= form.label :タイトル %>
  <%= form.text_field :title%>
  </div>

  <dib class="content">
  <%= form.label :タスク内容 %>
  <%= form.text_field :content %>


<% end %>